.main {
  margin: auto;
  width: 100%;
  margin-top: 18px;
}

.code-container {
  display: flex;
  align-items: center;
}

.run-code-btn {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  outline: none;
  margin: 0 0 5px 0;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.description {
  flex: 1;
}

.description div {
  padding: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  height: 55vh;
  outline: none;
  overflow: auto;
}

.run-code-result-container {
  padding: 1rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  height: 30vh;
  outline: none;
  margin: 5px 0 0 0;
  overflow: auto;
}

.token-keyword {
  color: #770088;
}

.token-identifier{
  color: black;
}

.token-field{
  color: white;
  background-color: #178cdf;
  padding: 2px 6px;
  border-radius: 2px;
}

.token-bracket{
  color: gray;
}

.token-number{
  color: #2c6df0;
}

.token-string{
  color: green;
}

.token-comment{
  color: green;
}

.token-error{
  color: red;
  border-bottom: 1px dashed;
}